<div id="top">
	<div id="top2" class="overskrift">
		The Magical Journey
	</div>
</div>
<div id="top3">
	<div id="top4" class="overskrift">
		START
	</div>

</div>
<div id="kropp">
	<div class="overskrift">

	</div>

	<div id="imga">
<h4 style="margin:0px;">Pick the map and the hero you want to use</h4>
<em><b>Musclo</b> is strong, but has a small crew.</em><br>
<em><b>Fasto</b> is weaker than Musclo, but has a bigger crew</em><br><br>
		<form method="POST">
Select a map<br>
<select name="map">
  <option value="map1">Magical Journey</option>
  <option value="map2">Gothon</option>
</select><br><br>
Select a hero<br>
<select name="hero">
  <option value="hero1">Musclo</option>
  <option value="hero2">Fasto</option>
</select><br><br>
			Create a username<br>
			<input type="text" name="username">
			<input type="SUBMIT" value="Login">
		</form>

	</div>
</div>