$def with (room,player,user)

<div id="top">
			<div id="top2" class="overskrift">
				The Magical Journey
						</div>
		</div>
<div id="top3">
			<div id="top4" class="overskrift2">
				$user.name | Items: $player.items | Score: $player.score | to beat: $user.score | Crew: $player.crew
						</div>
						<div id="top5" class="overskrift2">
				$if room.obstacle:		
					Boss: $room.obstacle.name HP: $room.obstacle.hp
				$else:
					No boss
</div>
		</div>
<div id="kropp">
			<div class="overskrift">
				$room.name
			</div>
			<p>
				$room.description
			</p>
$if player.dead:
	<p class="dead">$player.deadMessage</p>
    <p><a href="/">Play Again?</a></p>
$elif room.won:
	<p class="cola">$room.curAction</p>
	<p><a href="/reset">Play Again?</a></p>
$else:
			<p class="cola">$room.curAction</p>
			$if room.commands:
				$if not room.obstacle:
				<p>Your commands are: $room.commands</p>
			

	<div id="imga">

	<form action="/game" method="POST">
	<input type="text" name="action"> <input type="SUBMIT">
    </form>
    
</div>
</div>






