{% extends "base.html" %}

{% block overskrift %}<a href="/"><img src="home.png"></a> Simens blogg{% endblock %}
{% block body %}
	{% for blog in blogs %}
<div class="art">
<div top class="top2">
<div class="art-title"><h3>{{blog.subject}}</h3></div>
<span class="art-body">{{blog.created.date()}}</span>
</div>
<pre class="art-body2">{{blog.content}}

</div>

{% endfor %}
{% endblock %}
{% block blink %}<a href=blog/newpost> New post </a>{% endblock %}
{% block json %}| <a href=blog/.json> View json</a><br><br>{% endblock %}
{% block link %}<a href=../> Back</a>{% endblock %}
