{% extends "base.html" %}

{% block overskrift %}Assignment 3{% endblock %}
{% block body %}
<h2>Overview</h2>
<Blockquote>
<h4>Problem Set 2: </h4>
- <a class="nice" href="/problem-set-2"> ROT13</a>
<br>- <a class="nice" href="/problem-set-2/signup"> USER SIGNUP</a>
<h4>Problem Set 3:</h4>
- <a class="nice" href="/blog"> BLOG</a><br>
- <a class="nice" href="/blog/newpost"> NEW POST</a>
<h4>Problem Set 4:</h4> 
- <a href="/blog/signup" class="nice"> SIGNUP</a><br>
- <a href="/blog/login" class="nice">LOGIN</a>
<h4>Problem Set 5: </h4>
- <a class="nice" href="/blog/.json"> LINK TO JSON</a><br>
- <a class="nice" href="/blog/5665117697998848.json"> LINK TO JSON ON A PERMALINK</a>
</Blockquote>
<h2>Description</h2>
<Blockquote>
<h3>Problem set 2</h3>
<Blockquote>
<h4>ROT13</h4>
<div id="tekst"><em>With rot13 you can type in letters and words and it will rotate them 13 places forward in the alphabet
</em><br>

 </div>
<a class="nice" href="/problem-set-2"> [LINK TO ROT13]</a><br></Blockquote>
<Blockquote>
<h4>User signup</h4>
<div id="tekst"><em>Signup lets a user signup with a username, password, and a email(optional). 
If a user signup successfully, a welcome page is returned
</em>To successfully signup, you will need to follow these rules:
<br>
&bull; Username: must contain no spaces and have a minimum length of 4 characters
<br>
&bull; Password: Minimum length of 6 characters, validate by retyping the password
<br>
&bull; Email: is optional, but if you choose to have one, it needs to be a correct email
 </div>
<a class="nice" href="/problem-set-2/signup">[LINK TO USER SIGNUP]</a><br></Blockquote>

<h3>Problem set 3</h3>
<Blockquote>
<h4>The blog</h4>
<div id="tekst"><em>The blog is a blog that simply shows you blogposts. It shows you the 10 most recent blog posts. Each blogpost is stored in a database</em>
<br>
Updates:
<br>
&bull; You can create a new post via the blog


<br>
&bull; You can watch the json via the blog
<br>
 </div>
<a class="nice" href="/blog"> [LINK TO BLOG]</a><br></Blockquote>
<Blockquote>
<h4>The blog</h4>
<div id="tekst"><em>Here you can create a new blogpost by filling in the subject and the content in the form(both needs to be filled in) 
After submitted, you will recieve a permalink that shows you the newly added blogpost</em>
 </div>
<a class="nice" href="/blog/newpost"> [LINK TO NEW POST]</a><br></Blockquote>


<h3>Problem set 4</h3>
<Blockquote>
<h4>Signup</h4>
<div id="tekst"><em>Signup lets a user signup with a username, password, and a email(optional). It stores the user data in a database, 
and after signing up the user gets logged in and a cookie is set for the user</em><br>
To successfully signup, you will need to follow these rules:
<br>
&bull; Username: must contain no spaces and have a minimum length of 4 characters
<br>
&bull; Password: Minimum length of 6 characters, validate by retyping the password
<br>
&bull; Email: is optional, but if you choose to have one, it needs to be a correct email
 </div>
<a href="/blog/signup" class="nice"> [LINK TO SIGNUP]</a><br></Blockquote>
<Blockquote>
<h4>Login</h4>
<div id="tekst"><em>Login lets a user that already have signed up login. When successfully logged in, a cookie is made for the user, 
and the user would have to hit logout to login/signup again </em><br>
To successfully login, you will need to follow these rules:
<br>
&bull; Username: must be stored in the database(same username as signing up)
<br>
&bull; Password: same as above
 </div>
<a href="/blog/login" class="nice">[LINK TO LOGIN]</a><br></Blockquote>
<h3>Problem set 5</h3>

<Blockquote>
<h4>json on blog</h4>
<div id="tekst"><em>Here you can watch the json of all the blogposts and on a permalink, you can also create a new post, and after receiving the permapage type .json at the end of the url</em>
 </div>
<a class="nice" href="/blog/.json"> [LINK TO JSON]</a>
<a class="nice" href="/blog/5665117697998848.json"> [LINK TO JSON ON A PERMALINK]</a></Blockquote>
</Blockquote>
{% endblock %}



