{% extends "base.html" %}

{% block overskrift %}<a href="/"><img src="../home.png"></a> Simens blogg {% endblock %}
{% block body %}
<h1>Login</h1>
  <hr>
<form method="post">

<label>
Username<br>
<input  type="text" name="username" value="{{username}}">
</label>
<br>
<label>
Password<br>
<input  type="password" name="password" value="{{password}}">
</label>
<br>
<label>
<div style="color: red">{{error}}</div>
</label>
<p class="submit">
<input type="submit">
</p>
</form>
{% endblock %}
{% block blink %}<a href=signup> Sign up </a><br><br>{% endblock %}
{% block link %}<a href=../> Back</a>{% endblock %}



