{% extends "base.html" %}

{% block overskrift %}<a href="/"><img src="../home.png"></a> Simens blogg{% endblock %}
{% block body %}

<h1>New post</h1>
<hr>
<form method="post" class="label">
<label>
<div>Subject</div>
<input type="text" name ="subject" value="{{subject}}">
</label>
<label>
<div>Content</div>
<textarea name ="content">{{content}}</textarea>
</label>
<div class="error">{{error}}</div>
<p class="submit">
<input type="submit" name="Send">
</p>
</form>



{% endblock %}
{% block link %}<a href=../blog> Back to blog</a>{% endblock %}



