{% extends "base.html" %}

{% block overskrift %}<a href="/"><img src="../home.png"></a> Simens blogg{% endblock %}
{% block body %}
<div class="art">
<div top class="top2">
<div class="art-title">{{b.subject}}</div>
<span class="art-body">{{b.created.date()}}</span>
</div>
<pre class="art-body2">{{b.content}}

</div>
	
{% endblock %}
{% block blink %}<a href=newpost> New post </a>{% endblock %}
{% block json %}| <a href={{b.key().id()}}.json> View json</a><br><br>{% endblock %}
{% block link %}<a href=../blog> Back to blog</a>{% endblock %}



